body, html {
    margin: 0;
    padding: 0;
    background-color: rgb(219, 219, 219);
}

.container {
    display: grid;
    grid-template-areas: 
    "sidebar header header"
    "sidebar main right-cards";
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 80px 1fr;
    min-height: 100vh;
    box-sizing: border-box;
}

.header {
    grid-area: header;
    background-color: white;
    display: grid;
    padding: 20px;
    box-shadow: 0px 4px 4px -2px rgb(96, 96, 96);
    
}

.sidebar {
    display: grid;
    grid-template-areas:
    "sidebar-header-icon header"
    "sidebar-icons utilities"
    "sidebar-icons settings";
    background-color: #2196F3;
    color: white;
    padding: 30px;
    min-height: 100vh;
    width: 200px;
  }

  .sidebar-header {
    grid-area: sidebar-header;
    align-items: center;
    margin-bottom: 40px;
  }

  .sidebar-header-icon {
    grid-area: sidebar-header-icon;
    width: 40px;
    height: 40px;
    fill: white;
  }

  .sidebar h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }

  .utilities,
  .settings {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .utilities {
    grid-area: utilities;
    margin-bottom: 40px;
  }

  .settings {
    grid-area: settings;
  }

  li {
    padding: 12px 0;
    cursor: pointer;
    transition: background-color 0.2s;
    border-radius: 8px;
    padding: 12px;
  }

  li:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .sidebar-icons {
    grid-area: sidebar-icons;
    width: 24px;
    height: 24px;
    fill: white;
  }

  span {
    font-size: 16px;
    font-weight: bold;
  }

.main {
    grid-area: main;
    background-color: rgb(219, 219, 219);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: repeat(2, 200px);
    gap: 20px;
}

.main-card {
    background-color: white;
    padding: 20px;
    box-shadow: 0px 4px 4px -2px rgb(96, 96, 96);
}

@media (max-width: 768px) {
    .main {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
    }
}

.right-cards {
    grid-area: right-cards;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 20px;
    gap: 10px;
}

.announcements, .trending{
    background-color: white;
    padding: 20px;
    box-shadow: 0px 4px 4px -2px rgb(96, 96, 96);
}

@media (max-width: 768px) {
    .container {
        grid-template-areas: 
            "nav"
            "header"
            "main"
            "right-cards";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .cards {
        grid-template-rows: auto auto;
    }
}