body, html {
    margin: 0;
    padding: 0;
}

.sidebar{
    background-color: #006157;
    width: 25%;
    height: 100%;
    position: fixed;
    z-index: 1;
    overflow: auto;
}

.bar-block .bar-item {
    width: 100%;
    display: block;
    text-align: left;
    padding: 8px 16px;
    outline: 0;
}

